
@mainTextColor: #303133;
@generalTextColor: #606266;
@minorTextColor: #909399;
@stanceTextColor: #C0C4CC;

@firstBorderColor: #DCDFE6;
@secondBorderColor: #E4E7ED;
@firstBorderColor: #EBEEF5;
@firstBorderColor: #F2F6FC;



@themeColor: #409EFF;
@themeLighterColor: rgba(64, 158, 255, 0.6);
@bgColor: #149739;
@textLighterColor: #999;
